// ========================
/******** ADMIN ********/
// ========================
.admin{
            
	.contenedor-A{
		float: left;
		width: 100%;
		padding:40px;
		box-sizing: border-box;
		background-color: rgba(234,234,234,.80);
		-moz-background-color: rgba(234,234,234,.80);
		-ms-background-color: rgba(234,234,234,.80);
		-o-background-color: rgba(234,234,234,.80);
		-webkit-background-color: rgba(234,234,234,.80);
	}

	.contenedor-B{
		float: left;
		width: 100%;
		padding:40px;
		box-sizing: border-box;
		background-color: rgba(255,255,255,.80);
		-moz-background-color: rgba(255,255,255,.80);
		-ms-background-color: rgba(255,255,255,.80);
		-o-background-color: rgba(255,255,255,.80);
		-webkit-background-color: rgba(255,255,255,.80);
	}

	.sub-contenedor{
		float: left;
		width: 90%;
		box-sizing: border-box;
	}

	.titulo-A {
		font-size: 12px;
		color: #434343;
		font-family: 'Gotham-Medium';
	}

	.titulo-B {
		font-size: 12px;
		color: #434343;
		font-family: 'Gotham-Medium';
		margin-bottom: 20px;
	}

	.hr-A {
		border-bottom: 1px solid #434343;
		margin: 20px 0 30px 0;
		padding:0;
	}

	.hr-B {
		border-bottom: 1px solid #434343;
		margin: 20px 0 ;
		padding:0;
	}

	.cerrar-pantalla{
	            position: relative;

	            img {
	                    position: absolute;
	                    right: 0;
	                    top: -3px;
	                    cursor: pointer;

	                     &:hover{
	                                opacity: .8;
	                    }
	            }
	}

	.block-resumen {
		float: left;
		width: 240px;
		height: 120px;
		padding:10px 0;
		margin-right: 10px;
		box-sizing: border-box;
		background-color: rgba(255,255,255,.80);
		-moz-background-color: rgba(255,255,255,.80);
		-ms-background-color: rgba(255,255,255,.80);
		-o-background-color: rgba(255,255,255,.80);
		-webkit-background-color: rgba(255,255,255,.80);
		box-shadow: 0px 0px 3px rgba(89, 89, 89, 0.5);
		-moz-box-shadow: 0px 0px 3px rgba(89, 89, 89, 0.5);
 		-webkit-box-shadow: 0px 0px 3px rgba(89, 89, 89, 0.5);
		box-shadow: 0px 0px 3px rgba(89, 89, 89, 0.5);


		.hr-resumen {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			-moz-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	 		-webkit-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			box-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			margin: 10px 0;
			padding:0;
		}

		.num {
			font-family: 'Gotham-Light';
			font-size: 30px;
			text-align: center;
		}

		.text {
			font-size: 13px;
			font-weight: bold;
			text-align: center;
			color: $violeta;
			font-family: 'Open_Sans_Regular';
		}
	}

	.block-resumen-A {
		width: 102%;

		.block-resumen {
			width: 23%;
			margin-right: 2%;
			height: 160px;
		}
		.num {
			padding:14px 5px;
			font-size: 44px;
			color: #666;
		}
		.text {
			padding:5px 5px;
		}
	}



	.filtros {
	    float: left;
	    width: 100%;
	    font-size: 15px;
	    padding: 20px;
	    box-sizing: border-box;
	    background-color: rgba(234,234,234,.80);
	    -moz-background-color: rgba(234,234,234,.80);
	    -ms-background-color: rgba(234,234,234,.80);
	    -o-background-color: rgba(234,234,234,.80);
	    -webkit-background-color: rgba(234,234,234,.80);

	    	h3 {
		    padding: 0;
		    margin: 0;
		    padding-bottom: 10px;
		    color: #646463;
		    font-size: 13px !important;
		}

		select {
		    background-color: #fff;
		    height: 40px;
		    color: $verde;
		    padding: 10px;
		    margin-right: 5px;
		     width: 200px;
		     border: none;
		     float: left;
		     font-size: 12px;
		     font-family: 'BrooklynSamuelsFive-Bold';
		}

		button {
		    background-color: $violeta;
		    color: #fff;
		    border: none;
		    height: 40px;
		    width: auto;
		    padding: 5px 10px;
		    margin-right: 20px;
		    border: none;
		    float: left;
		    font-size: 11px;
		    text-transform: uppercase;

		    	img {
			    position: absolute;
			    top: 7px;
			    left: 5px;
			}

			&:hover{
				opacity: .8;
			}
		}

		.button-image {
		    position: relative;
		    padding-left: 35px;
		}
	}


	.tabla-A {
		float: left;
		margin: 40px 0;
		width: 105%;
		
		.background-A {
			background-color: rgba(255,255,255,.70);
			-moz-background-color: rgba(255,255,255,.70);
			-ms-background-color: rgba(255,255,255,.70);
			-o-background-color: rgba(255,255,255,.70);
			-webkit-background-color: rgba(255,255,255,.70);
		}

		.background-B {
			background-color: rgba(255,255,255,.45);
			-moz-background-color: rgba(255,255,255,.45);
			-ms-background-color: rgba(255,255,255,.45);
			-o-background-color: rgba(255,255,255,.45);
			-webkit-background-color: rgba(255,255,255,.45);
		}

		th, td,tr{
			margin: 2px;
			font-family: 'Open_Sans_Regular';
			font-weight: bold;
			font-size: 11px;
			position: relative;
		}

		th{
			font-size: 10px;
			color: #595959;
		}

		td{
			height: 40px;
			padding: 5px 10px;
			border: 2px solid #E0E0D1;
			font-family: 'Gotham-Medium';
			font-weight: normal;
			/*border: 1px solid rgba(255, 255, 255, 0.8);
			-moz-border: 1px solid rgba(255, 255, 255, 0.8);
			-ms-border: 1px solid rgba(255, 255, 255, 0.8);
			-o-border: 1px solid rgba(255, 255, 255, 0.8);
			-webkit-border: 1px solid rgba(255, 255, 255, 0.8);*/
		}

		.botones{
			border: none;
			background-color: transparent;

			.boton{
				width: 21px;
				cursor: pointer;

				&:hover{
					opacity: 1;
					border: 1px solid $violeta;	
				}
			}

			.ojo{
				width: 21px;
				height: 21px;
				cursor: pointer;
				background-image: url('../images/ojo-gris.png');
				background-position: center;
				background-size: 100% auto;

				&:hover{
					background-image: url('../images/ojo-violeta.png');	
				}
			}

			.ojo-activo{
				background-image: url('assets/images/ojo-violeta.png');
			}

		}

		
		.sub-item{
			padding: 0;

			.item{
				float: left;
				width: 50%;
				height: 100%;
				text-align: center;

	                                p{
					position: relative;
		                                top: 50%;
		                                transform: translateY(-50%);
		                                -moz-transform: translateY(-50%);
		                                -webkit-transform: translateY(-50%);
		                                -ms-transform: translateY(-50%);
		                                -o-transform: translateY(-50%);
				}
			}
		}

		.gris{
			color: #808080;
		}

		.violeta{
			color: $violeta;
		}

		.center{
			text-align: center;
		}

		

		input {
		    max-width: 100px;
		    background-color: transparent;
		    border: none;
		    color: #666;
		    border-bottom:1px dotted #666;
		    text-align: center;
		}

	}


	.tabla-mes {
		width: 100% !important;
		float: left;

		tr{
			width: 100%;
		}

		th{
			padding-bottom: 10px;
		}

		td{
			border: 2px solid #E1E5E1;
			width: auto;
		}

		.sin-borde{
			border: none;
		}

		input{
			width: 100%;
			font-family: 'Gotham-Medium';
		}

	}

	.format-A{
		.col-1{
			width: 24%;
		}

		.col-2{
			width: 18%;
			
		}

		.col-3{
			width: 11%;
		}

		.col-4{
			width: 20%;
		}

		.col-5{
			width: 10%;
		}

		.col-6{
			width: 7%;
		}
		.col-7{
			width: 10%;
		}
	}

	
	.format-B{
		.col-1{
			width: 15%;
		}

		.col-2{
			width: 17%;
		}

		.col-3{
			width: 15%;
		}

		.col-4{
			width: 10%;
		}

		.col-5{
			width: 18%;
		}

		.col-6{
			width: 9%;
		}
		.col-7{
			width: 6%;
		}
		.col-8{
			width: 10%;
		}
	}


	.grafico{
		margin: 20px 0;

	}

	.inputs{
		margin: 20px 0;
	}

    
}







// ==========================================================================
/* RESPONSIVE  */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){

	.admin .block-resumen {
		width: 100% !important;
		margin-bottom: 10px;
	}

	.head img {
		float: left;
	}

	.admin .sub-contenedor {
	    width: 100%;
	}

	.admin .tabla-A {
		width: 100% !important;
	}

	.admin .tabla-A .admin .tabla-A .col-1{
		width: 50% !important;
	}

	.admin .tabla-A .col-2{
		display: none !important;
	}

	.admin .tabla-A .col-3{
		width: 15% !important;
	}

	.admin .tabla-A .col-4{
		display: none !important;
	}

	.admin .tabla-A .col-5{
		width: 10% !important;
	}

	.admin .tabla-A .col-6{
		display: none !important;
	}
	.admin .tabla-A .col-7{
		width: 20% !important;
	}

	.admin .tabla-A .botones{
		width: 5% !important;
	}

	.admin .filtros select {
	    margin-right: 0px;
	    width: 100%;
	    margin-bottom: 5px;
	}

	.admin .filtros .button-image {
		width: 100%;
		margin-top: 10px;
	}

	.admin .format-B .col-1 {
		width: 25% !important;
	}
	.admin .format-B .col-2 {
		width: 25% !important;
	}
	.admin .format-B .col-3 {
		display: none !important;
	}
	.admin .format-B .col-4 {
		width: 25% !important;
	}
	.admin .format-B .col-5 {
		display: none !important;
	}
	.admin .format-B .col-6 {
		display: none !important;
	}
	.admin .format-B .col-7 {
		display: none !important;
	}
	.admin .format-B .col-8 {
		width: 25% !important;
	}

	.tabla-mes tr, th, td{
		font-size: 8px !important;
	}

	.grafico canvas{
		width: 100% !important;
	}
}


/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){

	.admin .block-resumen-A .num {
	    font-size: 34px;
	}

	.admin .block-resumen .text {
	    font-size: 11px;
	}

	.grafico canvas{
		width: 100% !important;
	}
}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 767px) and (max-width : 980px){

	.admin .sub-contenedor {
	    width: 100%;
	}

	.admin .tabla-A {
		width: 100% !important;
	}

	.admin .filtros select {
	    margin-right: 0px;
	    width: 33%;
	    margin-right: .3%;
	}

	.admin .filtros .button-image {
		width: 33%;
		margin: 0px;
		float: left;
	}

	.grafico canvas{
		width: 100% !important;
	}

	
}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){

	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}
