// ========================
/******** LAYOUT ********/
// ========================

@font-face {
    font-family: 'BrooklynSamuelsFive-Bold';
    src: url('../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.eot');
    src: url('../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.woff2') format('woff2'),
         url('../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.woff') format('woff'),
         url('../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.ttf') format('truetype'),
         url('../fonts/samuelstype_-_brooklynsamuelsfive-bold-webfont.svg#brooklyn_samuelsno5_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BrooklynSamuelsFive-Fat';
    src: url('../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.eot');
    src: url('../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.woff2') format('woff2'),
         url('../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.woff') format('woff'),
         url('../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.ttf') format('truetype'),
         url('../fonts/samuelstype_-_brooklynsamuelsfive-fat-webfont.svg#brooklyn_samuelsno5_fat') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Brandon_reg';
    src: url('../fonts/brandon_reg-webfont.eot');
    src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('../fonts/brandon_reg-webfont.woff') format('woff'),
         url('../fonts/brandon_reg-webfont.ttf') format('truetype'),
         url('../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open_Sans_Regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Light.woff') format('woff2'),
         url('../fonts/Gotham-Light.woff') format('woff'),
         url('../fonts/Gotham-Light.otf'),
         url('../fonts/Gotham-Light.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.eot');
    src: local('☺'), url('../fonts/Gotham-Medium.woff') format('woff'), 
            url('../fonts/Gotham-Medium.ttf') format('truetype'), 
            url('../fonts/Gotham-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
}

input[type=number] {
         -moz-appearance:textfield;
}

//barra de scroll navegador 
/*::-webkit-scrollbar {//fondo
    background-color: rgba(#FFFFFF,.18);
    width: 10px;
}
::-webkit-scrollbar-thumb{//barra

     background-color: rgba(#FFFFFF,.45);
     width: 10px;
}
.navbar-collapse {

     background-color: #d1d1d1;
     width: 10px;
}*/


body {
    background: #3D5927 url("../images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: .5px;
}

p{
       letter-spacing: .5px;
}


$verde : #009448;
$violeta : #8E3289;
$gris : #404040;
$grisA : #CBCCC0;  
$grisB : #B1B6A6;
$error : #AA4025;

.contenedor {
    width: 1200px;
    margin: 0 auto 40px auto;
    position: relative;
    display: table;
}

.contenedor-body {
    min-height: 500px;
}

.inactivo {
            opacity: .5;
}

.head {
            height: 100px;
            background-color: $verde;
            letter-spacing: 1px;


   	 img {
		margin: 0 auto;
		display: block;
	}

            .block{
                        float: right;
                        position: absolute;
                        right: 0;
                        top: 20px;

                        select{
                                color: #fff;
                                font-family: 'BrooklynSamuelsFive-Bold';
                                background-color: $verde;
                                border: none;
                                box-shadow: none;
                                background-image: url('../images/background-select2.png');
                                background-size: 100% 80%;
                                background-repeat: no-repeat;
                                background-position-x: 0;
                                background-position-y: bottom;
                                direction: rtl;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                padding-right:20px;
                        }

                        .option {
                                padding:10px !important;
                        }

                        .icon-select {
                                position: absolute;
                                right: 0;
                                top: 5px;
                        }
            }

            .contenedor {
                    min-height: 0px;
            }

             .logout {
                        float: right;
                        padding-top:10px;
                        cursor: pointer;
                    
                        p{
                                    color: #fff;
                                    float: left;
                                    font-family: 'BrooklynSamuelsFive-Bold';
                                    font-size: 11px;
                                    padding-top: 2px;
                                    padding-right:5px;
                         }

                         img{
                                    float: left;
                         }

                         &:hover{
                                opacity: .5;
                         }
            }
}

.centrado{
    margin: 0 auto;
}

.menu {
            float: left;
            margin-top: 40px;

            li {
                font-family: 'BrooklynSamuelsFive-Bold';
                float: left;
                position: relative;
                bottom: 0;
                height: 41px;
                margin: 0;
                margin-right: 1px;
                padding: 15px 27px 0 27px;
                font-size: 12px;
                color: #858585;
                background-color: rgba(215,215,215,.80);
                -moz-background-color: rgba(215,215,215,.80);
                -ms-background-color: rgba(215,215,215,.80);
                -o-background-color: rgba(215,215,215,.80);
                -webkit-background-color: rgba(215,215,215,.80);
            }

            .seleccionado{
                height: 51px;
                margin-top: -10px;
                font-size: 20px;
                color: #099642;
                padding-top: 15px;
                background-color: rgba(234,234,234,.80);
                -moz-background-color: rgba(234,234,234,.80);
                -ms-background-color: rgba(234,234,234,.80);
                -o-background-color: rgba(234,234,234,.80);
                -webkit-background-color: rgba(234,234,234,.80);
            }

}

        


.footer {
    height: 130px;
    background-image: url("../images/footer.png");
    background-size: cover;
    repeat: no-repeat;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    margin-top: -130px;
    clear: both;
    padding-top: 10px;
    margin-top: 20px;

    img {
	    margin-top: 15px;
	    width: 260px;
	    display: block;
	    margin: 0 auto;
	    margin-top: 30px;
	}
}


.base{

            .contenido{
                    min-height: 500px;
            }

            .buscador{
                    height: 75px;
                    padding: 22px 0px 15px 0px;
                    position: relative;

                        input{
                                    background-color: rgba(0,0,0,.5);
                                    -moz-background-color: rgba(0,0,0,.5);
                                    -webkit-background-color: rgba(0,0,0,.5);
                                    -o-background-color: rgba(0,0,0,.5);
                                    -ms-background-color: rgba(0,0,0,.5);
                                    border: none;
                        }
            }

             .head-page{
                    padding-right: 250px !Important;
                    min-height: 75px;
                    padding: 15px 10px;
                    position: relative;

                        h3{
                                       color: #fff;
                                       font-size: 17px;
                                       font-family: 'BrooklynSamuelsFive-Bold';
                                       padding: 18px;
                        }
            }

            .sub-footer{
                    background-color: rgba(#C7C7C7,.2);
                    -moz-background-color: rgba(#C7C7C7,.2);
                    -webkit-background-color: rgba(#C7C7C7,.2);
                    -o-background-color: rgba(#C7C7C7,.2);
                    -ms-background-color: rgba(#C7C7C7,.2);
                    height: 80px;
                    padding: 15px 10px;
                    position: relative;
                    margin-bottom: 80px;
            }

            .titulo{
                    background-color: rgba(255,255,255,.5);
                    -moz-background-color: rgba(255,255,255,.5);
                    -webkit-background-color: rgba(255,255,255,.5);
                    -o-background-color: rgba(255,255,255,.5);
                    -ms-background-color: rgba(255,255,255,.5);
                    height: 75px;
                    padding: 15px 20px;
                    position: relative;

                    img{
                        float: left;
                        margin-right: 10px;
                    }

                    .texto{
                        float: left;
                    }

                    .texto-carrito{
                           
                            h3{
                                 color: $violeta !important;
                            }
                    }

                    h3{
                        color: $verde;
                    }

                    .text-a{
                            font-family: 'BrooklynSamuelsFive-Fat';
                            font-size: 18px;
                            padding-top: 10px;
                            padding-bottom: 3px;
                    }

                    .text-b{
                            font-family: 'Brandon_reg';
                            font-size: 12px;
                    }

                    .block-right{
                        position: absolute;
                        top: 10px;
                        right: -5px;
                        background-color: $violeta;
                        width: 230px;
                        height: 118px;
                        z-index: 2;
                        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
                        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
                        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
                        letter-spacing: 1px;

                                .num{
                                        font-family: 'BrooklynSamuelsFive-Bold';
                                        font-size: 38px;
                                        padding-top: 35px;
                                        width: 100%;
                                        text-align: center;
                                        color: #fff;
                                }

                               .sombra{
                                        background-image: url('../images/sombra-violeta.png');
                                        background-repeat: no-repeat;
                                        background-position-x: right;
                                        background-position-y: bottom;
                                        position: absolute;
                                        right: 0;
                                        bottom: -5px;
                                        height: 5px;
                                        width: 5px;
                                }

                                .text-a{
                                        font-family: 'Brandon_reg';
                                        font-size: 14px;
                                        font-weight: bold;
                                        width: 100%;
                                        text-align: center;
                                        color: #fff;
                                        opacity: .7;
                                        height: 20px;
                                        padding-top: 15px;
                                }

                                .text-b{
                                        font-family: 'Brandon_reg';
                                        font-size: 10px;
                                        font-weight: bold;
                                        width: 100%;
                                        text-align: center;
                                        color: #fff;
                                        opacity: .7;
                                        padding-top: 9px;

                                }


                    }

                    
            }
}




.mensaje-error {
            color: $error;
            margin: 20px 0;
            float: left;
            width: 100%;

            .text {
                        float: left; 
                        padding-left: 5px;
                        padding-top: 4px;
                        font-family: 'Brandon_reg';
                        font-size: 12px;
                        font-weight: bold;
                        width: 90%;
             }

            .icon{
                        float: left; 
             }
}



 .boton:hover {
            opacity: .8;
 }


.inactivo{
            opacity: .5;
 }





// ==========================================================================
/* RESPONSIVE  */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){

             .contenedor {
                    width: 90%;
                    margin: 0 5%;
            }

}


/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){
            .contenedor {
                    width: 90%;
                    margin: 0 5%;
                }
}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 771px) and (max-width : 980px){


}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){
	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}
