// ==========================================================================
/* DEFAULT -*/
// ==========================================================================
@import "normalize";

h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
	line-height: 14px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, 
.col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, 
.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, 
.col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 0px;
	padding-right: 0px;
}

ul, li{
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

:focus {
	outline: 0;
}

.background-cover{
	background-repeat: no-repeat;
	background-size: cover ;
	background-position: center;
}

li:focus {
	background-color: transparent !important;
	border-color: none;
}

li>a:focus {
	background-color: transparent !important;
	border-color: none;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}



.nav-link-active{
	opacity: 0.5;
}




/*
 barra de scroll navegador 
::-webkit-scrollbar /*fondo{
}
::-webkit-scrollbar-thumb/*barra{
}
.navbar-collapse {
}
*/


// ==========================================================================
/* RESPONSIVE - DEFAULT */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){


}

/**  MOBILE DISPOSITIVO **/
@media device and (min-width: 0px) and (max-width : 767px){
	
}

/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){

}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 771px) and (max-width : 900px){



}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){
	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}
